body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.calculator {
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 240px;
}

input#display {
    background-color: #363636;
    color: white;
    height: 50px;
    padding: 0 30px;
    margin: 0;
    width: 100%;
    text-align: right;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.calculator .buttons {
    display: grid;
    grid-template-areas: 
        "clear clear backspace divide"
        "one two three multiply"
        "four five six add"
        "seven eight nine subtract"
        "decimal zero equals equals";
    gap: 4px;
    padding: 20px 20px;
    background-color: #5f5d5d;
}

.btn {
    background-color: #e6f7fc;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 45px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #cde4e9;
}

.btn#clear       { grid-area: clear; width: 100%; }
.btn#equals      { grid-area: equals; width: 100%; }
.btn#backspace   { grid-area: backspace; }
.btn#divide      { grid-area: divide; }
.btn#multiply    { grid-area: multiply; }
.btn#subtract    { grid-area: subtract; }
.btn#add         { grid-area: add; }
.btn#decimal     { grid-area: decimal; }
.btn#zero        { grid-area: zero; }
.btn#one         { grid-area: one; }
.btn#two         { grid-area: two; }
.btn#three       { grid-area: three; }
.btn#four        { grid-area: four; }
.btn#five        { grid-area: five; }
.btn#six         { grid-area: six; }
.btn#seven       { grid-area: seven; }
.btn#eight       { grid-area: eight; }
.btn#nine        { grid-area: nine; }


